<% 

    likes.forEach(function(like) { 
    let auth = like.author;
    let link = auth.link;
    console.log(auth)

const fetchPosts = async (auth, link) => {
    let likesP =[]
    let likesPostsAPI = await axios.get(`https://api.dlike.network/content/${auth}/${link}`);
    let posts = likesPostsAPI.data;
    
    likesP.push(posts); console.log(likesP)
    return likesP

}

%>
    <div class="col-lg-4 col-md-6 postsMainDiv">
        <article class="post-style-two"><div class="post-contnet-wrap-top">
            <div class="post-footer">
                <div class="post-author-block">
                    <div><a href="/profile/<%-  %>"><img src="https://i.postimg.cc/rwbTkssy/dlike-user-profile.png" alt="img" class="img-fluid my_img"></a></div>
                    <div class="author-info">
                        <h5><a href="/profile/<%-  %>"><%- auth %></a><div class="time"><%- %></div></h5>
                    </div></div>
                    <div class="post-comments post-catg"><span class="post-meta"><a href="/category/<%- %>"><b><%-  %></b></a></span></div>
                    </div></div>
                    <div class="post-thumb img-fluid"><a href="/post/<%-  %>/<%-  %>"><img src="<%-  %>" class="card-img-top"></a></div>
                    <div class="post-contnet-wrap">
                        <h4 class="post-title single_title"><a href="/post/<%-  %>/<%-  %>"><%- link %></a></h4>
                        <p class="post-entry post-tags"><%-  %></p>
                        <div class="post-comments bottom_block">
                        <div><img src="/images/dlike-hover.png" alt="DLIKE" class="hov_vote" data-permlink="<%-  %>" data-author="<%-  %>"> | <span id="post_likes" class="post_likes"><%-  %></span>LIKES</div>
                <div><span class="dlike_tokens"><%-  %></span> <b>DLIKE</b>
                </div></div>
        </article>
    </div><% }) %>

    <script type="text/javascript">$('.dlike_tokens').html('aaaa');</script>
            <% if(user.json.profile && user.jaon.profile.location){ %>
            <span class="p_location" style="margin-left:10px;"><i class="fas fa-map-marker-alt" style="color: #191d5d;padding-right:3px;"></i></span>
            <% }else{} %>
            <% if(user.json.profile && user.jaon.profile.website){ %>
            <span class="web_site" style="margin-left:10px;"><i class="fas fa-link" style="color: #191d5d;padding-right:3px;"></i>
            <% }else{} %>




            if(user.json && user.json.profile && user.json.profile.cover_image){
var prof_cov_img="<%- user.json.profile.cover_image %>";}else{ var prof_cov_img=""}
if(user.json && user.json.profile && user.json.profile.avatar){var dlike_user_img=user.json.profile.avatar;}else{var dlike_user_img="https://i.postimg.cc/rwbTkssy/dlike-user-profile.png"}
if(user.json && user.json.profile && user.json.profile.website){var user_website=user.json.profile.website;}else{ var user_website=""}
if(user.json && user.json.profile && user.json.profile.location){var user_location=user.json.profile.location;}else{ var user_location=""}
if(user.json && user.json.profile && user.json.profile.about){var user_about=user.json.profile.about;}else{ var user_about=""}
    
    console.log(prof_cov_img)
    console.log(dlike_user_img)