<% 
    likes.forEach(function(like) { 
    let auth = like.author;
    let link = auth.link;
    console.log(like);
%>
    <div class="col-lg-4 col-md-6 postsMainDiv">
        <article class="post-style-two"><div class="post-contnet-wrap-top">
            <div class="post-footer">
                <div class="post-author-block">
                    <div><a href="/profile/<%-  %>"><img src="https://i.postimg.cc/rwbTkssy/dlike-user-profile.png" alt="img" class="img-fluid my_img"></a></div>
                    <div class="author-info">
                        <h5><a href="/profile/<%-  %>"><%- auth %></a><div class="time"><%- %></div></h5>
                    </div></div>
                    <div class="post-comments post-catg"><span class="post-meta"><a href="/category/<%- %>"><b><%-  %></b></a></span></div>
                    </div></div>
                    <div class="post-thumb img-fluid"><a href="/post/<%-  %>/<%-  %>"><img src="<%-  %>" class="card-img-top"></a></div>
                    <div class="post-contnet-wrap">
                        <h4 class="post-title single_title"><a href="/post/<%- like.author %>/<%- link %></a></h4>
                        <p class="post-entry post-tags"><%-  %></p>
                        <div class="post-comments bottom_block">
                        <div><img src="/images/dlike-hover.png" alt="DLIKE" class="hov_vote" data-permlink="<%-  %>" data-author="<%-  %>"> | <span id="post_likes" class="post_likes"><%-  %></span>LIKES</div>
                <div><span class="dlike_tokens"><%-  %></span> <b>DLIKE</b>
                </div></div>
        </article>
    </div><% }) %>
