<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%- article.json.title %></title>
<meta name="description" content="DLIKE is a blockchain based social media dapp where you get rewarded for sharing. Share informative links to earn reward on every like you get from other community members.">

<meta property="og:url" content="https://dlike.io" />
<meta property="og:title" content="<%- article.json.title %>" />
<meta property="og:description" content="DLIKE is a blockchain based social media dapp where you get rewarded for sharing. Share informative links to earn reward on every like you get from other community members." />
<meta property="og:image" content="/images/dlike-main.jpg" />
<%- include('./common/navbar.ejs') %>
<%
function getDomain(url) {let hostName = getHostName(url);let domain = hostName;
    if (hostName != null) {
        let parts = hostName.split('.').reverse();
        if (parts != null && parts.length > 1) {
            domain = parts[1] + '.' + parts[0];
            if (hostName.toLowerCase().indexOf('.co.uk') != -1 && parts.length > 2) { domain = parts[2] + '.' + domain;}
        }
    }
    return domain;
}
function getHostName(url) {var match = url.match(/:\/\/(www[0-9]?\.)?(.[^/:]+)/i);
    if (match != null && match.length > 2 && typeof match[2] === 'string' && match[2].length > 0) {
        return match[2];
    } else {return false;}
}
let tags = (article.json.tags).toLowerCase();
let metatags = tags.split(' ').map(s => '<a href="/tags/'+s+'">#'+s+'</a>').join(' ');
%>

<div class="latest-post-section"><div class="container">
    <article class="post-style-two post-full-width">
        <div class="post-thumb"><img src="<%- article.json.image %>" alt="<%- article.json.title %>" class="img-responsive"></div>
        <div class="post-contnet-wrap">
            <div class="post-footer">
                <div class="post-author-block">
                    <div><a href="/profile/<%- article.author %>"><img src="https://i.postimg.cc/rwbTkssy/dlike-user-profile.png" alt="<%- article.author %>" class="img-fluid my_img"></a></div>
                    <div class="author-info"><h5 class="auth_inf"><a href="/profile/<%- article.author %>"><%- article.author %></a></h5><span class="auth-time"><%- moment.utc(article.ts).fromNow()%></span>
                    </div>
                </div>
                <div class="post-comments post-com-cat"><a href="/category/<%- (article.json.category).toLowerCase() %>"><%- article.json.category %></a></div>
            </div>
            <h1 class="post-title"><%- article.json.title %></h1>
            <p class="post-entry"><%- article.json.body %><br>
                <span class="read_more">Read more on: <a href="<%- article.json.url %>" target="_blank"><%- getDomain(article.json.url) %></a></span>
            </p>
            <p class="post-entry post-tags"><%- metatags %></p>
            <div class="post-footer">
                <div class="post-author-block"><div><img src="/images/dlike-hover.png" alt="DLIKE" class="hov_vote" data-permlink="<%- article.link %>" data-author="<%- article.author %>"> | <span id="post_likes" class="post_likes"><%- article.likes %></span>LIKES</div></div>
                <div class="post-comments"><div><span class="dlike_tokens<?php echo $permlink; ?><?php echo $author; ?>"><%- (article.likes)*0.1 %></span> <b>DLIKE</b></div></div>
            </div>
        </div>
    </article>
</div></div>
<%- include('./common/footer.ejs') %>