<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#1da1f2">
    <meta nam="description" content="DLKWEB">
    <meta name="og:title" content="DLKWEB">
    <meta name="og:description" content="DLKWEB">

    <link href="https://fonts.googleapis.com/css2?family=Assistant&amp;display=swap" rel="stylesheet">

    <title>DLKWEB</title>
    <link rel="stylesheet" type="text/css" href="/css/style2.css">
</head>
<body style=""><noscript>You need to enable JavaScript to run this app.</noscript>
<%
function getDomain(url) {let hostName = getHostName(url);let domain = hostName;
    if (hostName != null) {let parts = hostName.split('.').reverse();if (parts != null && parts.length > 1) {domain = parts[1] + '.' + parts[0];if (hostName.toLowerCase().indexOf('.co.uk') != -1 && parts.length > 2) { domain = parts[2] + '.' + domain;}}}
    return domain;
}
function getHostName(url) {var match = url.match(/:\/\/(www[0-9]?\.)?(.[^/:]+)/i); if (match != null && match.length > 2 && typeof match[2] === 'string' && match[2].length > 0) {return match[2];} else {return false;}}
let tags = article.json.tags;
let metatags = tags.map(s => '<a href="/tags/'+s+'">#'+s+'</a>').join(' ');
var catg = article.json.category; var category = catg.charAt(0).toUpperCase() + catg.slice(1);let upvotes=JSON.stringify(article.votes);
%>
<div id="root">
    <div class="body-wrap" style="">
        <main class="main">
            <div class="middle-section ms-width">
                <div class="Home-wrapper">
                    <%- include('./common/topnav') %>
                    <div class="tweet-wrapper">
                        <div class="post-header-wrapper">
                            <div class="profile-header-back">
                                <div class="header-back-wrapper"><img src="https://img.icons8.com/windows/24/1da1f2/long-arrow-left.png" class="back_btn" /></div>
                            </div>
                            <div class="tweet-header-content"> Post</div>
                        </div>
                        <div class="tweet-body-wrapper">
                            <div class="tweet-header-content">
                                <div class="tweet-user-pic">
                                    <a href="/profile/<%- article.author %>"><img alt="" width="100%" height="49px" src="https://i.imgur.com/iV7Sdgm.jpg" style="border-radius: 50%; min-width: 49px;"></a>
                                </div>
                                <div class="tweet-user-wrap">
                                    <div>
                                        <span class="tweet-user-name"><a href="/profile/<%- article.author %>">@<%- article.author %></a></span>
                                        <span><small style="color: #657786;">in </small><a href="/category/<%- (article.json.category).toLowerCase() %>" style="color:#45b1f3;"><%- category %></a></span><span class="card-header-dot">·</span><span class="card-header-date"><%- moment.utc(article.ts).fromNow()%></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-content-info" style="font-weight: 600;margin-top: 10px"><a href="/post/<%- article.author %>/<%- article.link %>"><%- article.json.title %></a></div>
                            <div class="post-content"><%- article.json.body %></div>
                            <div class="card-content-info" style="color:#45b1f3;padding: 8px 0 6px 0;"><%- metatags.toString() %></div>
                            <div class="tweet-image-wrapper">
                                <a href="/post/<%- article.author %>/<%- article.link %>"><div class="card-image-link"><img alt="" src="<%- article.json.image %>"></div></a>
                            </div>
                            <div class="tweet-date"><a href="<%- article.json.url %>" target="_blank" style="padding-left:6px;color: #45b1f3;"><%- getDomain(article.json.url) %></a>
                            </div>
                        </div>
                        <div class="post-header-wrapper likes_section" style="justify-content: space-between;overflow: hidden;">
                            <div class="card-button-wrap heart-wrap">
                                <div class="card-icon heart-icon">
                                    <% if((loguser) && upvotes.includes(loguser)){ %>
                                    <img src="https://img.icons8.com/material-rounded/20/fa314a/like.png"/>
                                    <% }else{ %>
                                    <img src="https://img.icons8.com/material-outlined/20/000000/like--v1.png" class="hov_vote" data-permlink="<%- article.link %>" data-author="<%- article.author %>"/>
                                    <%}%>
                                </div>
                                <div class="card-icon-value" style="opacity: 1;"><%- article.likes %></div>
                            </div>
                            <div class="card-button-wrap"><span class="int-num"><%- (article.likes)*0.1 %></span> TOK</div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('./common/rnav') %>
        </main>
        <%- include('./common/lnav') %>
    </div>
</div>
<%- include('./common/footer') %>
