<head>
    <meta charset="utf-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#1da1f2">
    <meta nam="description" content="DLKWEB">
    <meta name="og:title" content="DLKWEB">
    <meta name="og:description" content="DLKWEB">

    <link href="https://fonts.googleapis.com/css2?family=Assistant&amp;display=swap" rel="stylesheet">

    <title>DLKWEB</title>
    <link rel="stylesheet" type="text/css" href="/css/style2.css">
</head>
<body style="">
<div id="root">
    <div class="body-wrap" style="">
        <main class="main">
            <div class="middle-section ms-width">
                <div class="Home-wrapper">
                    <%- include('./common/topnav') %>
                    <div class="tweet-header-wrapper">
                            <div class="profile-header-back">
                                <div class="header-back-wrapper"><img src="https://img.icons8.com/windows/24/1da1f2/long-arrow-left.png" class="back_btn" /></div>
                            </div>
                            <div class="tweet-header-content"> Wallet</div>
                        </div>


                <div class="offset-lg-1 col-lg-5 col-md-6" style="margin:1px;">
                    <div class="user-connected-form-block" style="box-shadow: 0px 0px 10px 1px #cccccc;">

                        <div style="text-align: center;padding:12px 0px 20px;">
                            <h4 class="inp_text user_bal_amt" style="font-size: 30px;"><%- (act.balance)/100 %></h4>
                            <span style="font-size:20px; font-weight: 600;">TOK</span>
                        </div>
                        <div class="col user-connected-from" style="display: flex; justify-content: center;">
                            <button style="margin:8px;border: none;" type="button" class="btn btn-default withd_btn">Transfer</button>
                            <button style="margin:8px;border: none;" type="button" class="btn btn-default withd_btn">Withdraw</button>
                        </div>

                    </div>
                    <div class="form-group reward_fileds">
                        <input type="text" class="form-control reward_input" value=" | Income Today" readonly>
                        <span class="fas fa-bolt inp_icon"></span><% console.log(act) %>
                        <span class="inp_text"><%- earnToday.data.dist %></span>
                    </div>
                    <div class="form-group reward_fileds">
                        <input type="text" class="form-control reward_input" value=" | My Affiliates" readonly>
                        <span class="fas fa-flask inp_icon"></span>
                        <span class="inp_text"><%- act.refCount %></span>
                    </div>

                    

                </div>
                <div class="col-sm-12 col-lg-12" style="margin-bottom: 25px;">
                    <div class="queue-stats card p-3">
                        <div class="d-flex align-items-center">
                            <span class="stamp stamp-md bg-blue mr-3"><i class="fa fa-list"></i></span>
                            <div>
                                <h4 class="m-0"><small>My Affiliate Link</small></h4>
                                <small class="queue-stats-display text-muted"><b><a href="https://dlike.io/welcome/" style="color: #467fcf;">https://dlike.io/welcome/<%- act.name %></a></b></small><br>
                                <small>You earn 0.05 DLIKE tokens for each like on the posts of your referrals</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-12" style="margin-bottom: 25px;">
                    <div class="queue-stats card p-3"><div class="d-flex align-items-center">
                            <span class="stamp stamp-md bg-green mr-3"><i class="fa fa-battery-full"></i></span>
                            <div>
                                <h4 class="m-0"><small style="font-weight: 600;">Boost Posts</small></h4>
                                <small class="queue-stats-display text-muted" style="line-height: 8px !important;font-weight: 90%">You can boost any of your posts to top rankings on DLIKE main page by bidding. Your post will remain ranked untill it becomes a day old from the time of posting.</small><br>
                                <span style="display: flex;justify-content: center;">
                                    <button style="margin:8px;" type="button" class="btn btn-default withd_btn">Boost</button>
                                </span>
                            </div>
                    </div></div>
                </div>

                <div class="explore-nav-menu">
                    <div class="explore-nav-item activeTab">Activity</div>
                    <div class="explore-nav-item"></div>
                </div>




                </div>
            </div>
            <%- include('./common/rnav') %>
        </main>
        <%- include('./common/lnav') %>
    </div>
</div>